Source: nget
Section: news
Priority: optional
Maintainer: Matthew Mueller <donut@azstarnet.com>
Build-Depends: debhelper (>> 3.0.0), libuu-dev (>> 0.5.15), libpopt-dev, libncurses-dev, zlib1g-dev
Standards-Version: 3.5.2

Package: nget
Architecture: any
Depends: ${shlibs:Depends}
Description: auto-resuming command line nntp file grabber.
 nget is a command line NNTP file grabber. It automatically pieces
 together multipart postings for easy retrieval, even substituting parts
 from multiple servers. It handles disconnects gracefully, resuming
 after the last part successfully downloaded. nget also caches header
 data for quick access.
